@model CollectionHub.Models.RegisterUserViewModel

@{
    ViewData["Title"] = "Register";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            @if (Model != null && !string.IsNullOrEmpty(Model.ErrorMessage))
            {
                <div class="alert alert-danger" role="alert">
                    @Model.ErrorMessage
                </div>
            }

            <h2>@Localizer["registerDescription"]</h2>
            <hr />

            <form method="post" asp-action="Register">
                <div class="form-group mb-3">
                    <label asp-for="ViewName">@Localizer["name"]</label>
                    <input asp-for="ViewName" class="form-control" />
                    <span asp-validation-for="ViewName" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="Email">@Localizer["email"]</label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="Password">@Localizer["password"]</label>
                    <input asp-for="Password" type="password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <button type="submit" class="w-100 btn btn-lg btn-primary">@Localizer["register"]</button>
                <p class="mt-3">@Localizer["withAccount1"] <a asp-action="Login" class="text-primary">@Localizer["withAccount2"]</a>.</p>
            </form>
        </div>
    </div>
</div>
