@using CollectionHub.Helpers
@using CollectionHub.Models.Enums
@model CollectionHub.Models.ViewModels.CollectionViewModel

@{
    ViewData["Title"] = "Create item";
}

<div class="row justify-content-center">
    <div class="col-md-4">
        <h2>Create item</h2>
        <hr />

        <form method="post" asp-action="CreateItem">
            @foreach (var item in Model.AllHeaders)
            {
                <div class="form-group mb-3">
                    <label asp-for="@item.Value">@item.Value:</label>
                    @if (item.Key.ToDataType() == DataType.Text)
                    {
                        <textarea name="@item.Key" rows="4" cols="50" class="form-control" placeholder="Enter @item.Key.ToString()"></textarea>
                    }
                    else if (item.Key.ToDataType() == DataType.Bool)
                    {
                        <div class="form-check">
                            <input name="@item.Key" type="checkbox" class="form-check-input" id="@item.Value" value="true">
                        </div>
                    }
                    else
                    {
                        <input name="@item.Key" type="@item.Key.ToDataType().ToInputType()" class="form-control" id="@item.Value" placeholder="Enter @item.Value">
                    }
                </div>

            }
            <button type="submit" class="w-100 btn btn-lg btn-primary">Create</button>
        </form>
    </div>
</div>
