@using CollectionHub.Domain.Converters
@using CollectionHub.Models.Enums
@model CollectionHub.Models.ViewModels.ItemViewModel

@{
    ViewData["Title"] = "Edit item";
}

<div class="row justify-content-center">
    <div class="col-md-4">
        <h2>Edit item</h2>
        <hr />

        <form method="post" asp-action="EditItem">
            <input type="hidden" name="id" value="@Model.Id" />

            @foreach (var item in Model.AllHeadersWithValues)
            {
                var firstValuePair = item.Value.FirstOrDefault();
                var key = firstValuePair.Key;
                var value = firstValuePair.Value;

                <div class="form-group mb-3">
                    <label asp-for="@key">@key:</label>
                    @if (item.Key.ToDataType() == DataType.Text)
                    {
                        <textarea name="@item.Key" rows="4" cols="50" class="form-control" placeholder="Enter @key.ToString()">@(value ?? "")</textarea>
                    }
                    else if (item.Key.ToDataType() == DataType.Bool)
                    {
                        <div class="form-check">
                            <input type="hidden" name="@item.Key" value="">
                            <input name="@item.Key" type="checkbox" class="form-check-input" @(value == "true" ? "checked" : "")>
                        </div>
                    }
                    else if (item.Key.ToDataType() == DataType.Integer)
                    {
                        <input name="@item.Key" type="@item.Key.ToDataType().ToInputType()" class="form-control" placeholder="Enter @key" value="@value">
                    }
                    else if (item.Key.ToDataType() == DataType.Date)
                    {
                        <input name="@item.Key" type="date" class="form-control" value="@((value != null && DateTime.TryParse(value, out var dateValue)) ? dateValue.ToString("yyyy-MM-dd") : "")" />
                    }
                    else
                    {
                        <input name="@item.Key" type="@item.Key.ToDataType().ToInputType()" class="form-control" placeholder="Enter @key" value="@value">
                    }
                </div>
            }

            <button type="submit" class="w-100 btn btn-lg btn-primary">Edit</button>
        </form>
    </div>
</div>
