@model CollectionHub.Models.ViewModels.CollectionViewModel

@{
    ViewData["Title"] = "Collection";
}

@if (ViewData.ModelState.Values.Any(v => v.Errors.Count > 0))
{
    <div class="alert alert-danger d-flex align-items-center justify-content-center" role="alert">
        @Html.ValidationMessage("error")
    </div>
}

<div class="row">
    <div class="col-md-6">
        <h2 class="text-left text-uppercase mb-4">@Model.Name</h2>
        <p>@Model.Description</p>
    </div>
    <div class="col-md-4 offset-md-1">
        <h2 class="text-uppercase mb-4">@Localizer["addColumn"]</h2>
        <form method="post" asp-action="AddCollectionItemField">
            <input type="hidden" name="collectionId" value="@Model.Id" />

            <div class="form-group mb-3">
                <label>Type</label>
                <select class="form-select" name="type" asp-items="@Model.ItemsDataTypes">
                    <option value="" selected>@Localizer["chooseType"]</option>
                </select>
            </div>

            <div class="form-group mb-3">
                <label>@Localizer["name"]</label>
                <input type="text" name="name" class="form-control" />
            </div>

            <button type="submit" class="w-100 btn btn-lg btn-primary">@Localizer["add"]</button>
        </form>
    </div>

    <div class="col-md-4 d-flex">
        <a class="btn btn-primary rounded-pill me-2" href="@Url.Action("CreateItem", "Item", new { collectionId = Model.Id})">@Localizer["create"]</a>

        <form method="get" asp-controller="Item" asp-action="EditItem">
            <input type="hidden" name="collectionId" value="@Model.Id" />
            <input type="hidden" name="selectedItemId" id="editSelectedItemId" />
            <button type="submit" class="btn btn-secondary rounded-pill me-2">@Localizer["edit"]</button>
        </form>

        <form method="post" asp-controller="Item" asp-action="DeleteItem">
            <input type="hidden" name="collectionId" value="@Model.Id" />
            <input type="hidden" name="selectedItemId" id="deleteSelectedItemId" />
            <button type="submit" class="btn btn-danger rounded-pill me-2">@Localizer["delete"]</button>
        </form>

        <a class="btn btn-success rounded-pill" href="@Url.Action("ExportCSV", "Collection", new { collectionId = Model.Id})">@Localizer["export"]</a>
    </div>
</div>


<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th><input type="hidden" /></th>
                <th scope="col">#</th>
                @foreach (var header in Model.AllHeaders)
                {
                    <th scope="col">@header.Value</th>
                }
            </tr>
        </thead>
        <tbody>
            @if (Model.Items != null)
            {
                for (int i = 0; i < Model.Items.Count; i++)
                {
                    var rowData = Model.Items[i];

                    <tr>
                        <td><input type="radio" class="item-radio" name="selectItem" data-item-id="@rowData[0]" /></td>
                        <td>@(i + 1)</td>
                        @for (int j = 1; j < rowData.Count; j++)
                        {
                            if (j == 1)
                            {
                                <td>
                                    <a href="@Url.Action("GetItem", "Item", new { itemId = rowData[0], collectionId = Model.Id })"
                                       class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">@rowData[j]</a>
                                </td>
                            }
                            else
                            {
                                <td>@(rowData[j].Length > 50 ? rowData[j].Substring(0, 20) + "..." : rowData[j])</td>
                            }
                        }
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            $(".item-radio").change(function () {
                var selectedId = $(".item-radio:checked").data("item-id");
                $("#editSelectedItemId").val(selectedId);
                $("#deleteSelectedItemId").val(selectedId);
            });
        });
    </script>
}