@using CollectionHub.Models.ViewModels
@model List<CollectionViewModel>

@{
    ViewData["Title"] = "Largest collections";
}

<div class="row">
    <div class="col-md-12 mb-4">
        <h2>@Localizer["largest"]</h2>
    </div>
    @if (Model.Count == 0)
    {
        <p class="mt-4">@Localizer["noCollections"]</p>
    }
    else
    {
        @foreach (var collection in Model)
        {
            <div class="col-md-6 col-12 mb-4">
                <div class="card flex-row border-0">
                    @if (collection.ImageUrl == null)
                    {
                        <img src="~/NoImage.png" class="card-img-left uploaded-image" alt="No image">
                    }
                    else
                    {
                        <img src="@collection.ImageUrl" class="card-img-left uploaded-image" alt="Collection Image">
                    }
                    <div class="card-body">
                        <h5 class="card-title h4-sm">@collection.Name</h5>
                        <p class="card-text">
                            @{
                                var truncatedDescription = @collection.Description.Length > 250 ? @collection.Description.Substring(0, 200) + "..." : @collection.Description;
                            }
                            @truncatedDescription
                        </p>
                        <a href="@Url.Action("GetCollectionForRead", "Collection", new { id = collection.Id })" class="stretched-link"></a>
                    </div>
                </div>
            </div>
        }
    }
</div>