@model List<CollectionHub.Models.ViewModels.CollectionViewModel>

@{
    ViewData["Title"] = "My collections";
}

<div class="row">
    <div class="col-md-6 mb-4">
        <h2>@Localizer["myCollections"]</h2>
    </div>
    <div class="col-md-6 text-md-end">
        <a class="btn btn-primary rounded-pill" href="@Url.Action("CreateCollection", "Collection")">
            @Localizer["createCollections"]
        </a>
    </div>
    @if (Model.Count == 0)
    {
        <p class="mt-4">@Localizer["explanation"]</p>
    }
    else
    {
        @foreach (var collection in Model)
        {
            <div class="col-md-6 col-12">
                <div class="card flex-row border-0">
                    @if (collection.ImageUrl == null)
                    {
                        <img src="~/NoImage.png" class="card-img-left uploaded-image" alt="No image">
                    }
                    else
                    {
                        <img src="@collection.ImageUrl" class="card-img-left uploaded-image" alt="Collection Image">
                    }
                    <div class="card-body">
                        <h5 class="card-title h4-sm">@collection.Name</h5>
                        <p class="card-text">
                            @{
                                var htmlDescription = string.Empty;
                                if (@collection.Description != null)
                                {
                                    var truncatedDescription = @collection.Description.Length > 250 ? @collection.Description.Substring(0, 200) + "..." : @collection.Description;
                                    var renderer = new MarkdownSharp.Markdown();
                                    htmlDescription = renderer.Transform(truncatedDescription);
                                }
                            }

                            <div>
                                @Html.Raw(htmlDescription)
                            </div>
                        </p>
                        <a href="@Url.Action("GetCollection", "Collection", new { id = collection.Id })" class="stretched-link"></a>
                    </div>
                </div>
                <div class="d-flex flex-row-reverse mb-1">
                    <a class="p-2 text-secondary a-custom-hover" onclick="confirmDelete('@Url.Action("DeleteCollection", "Collection", new { id = collection.Id })')">
                        <i class="fa-regular fa-trash-can"></i>
                    </a>
                    <a class="p-2 text-secondary a-custom-hover" href="@Url.Action("EditCollection", "Collection", new { id = collection.Id })">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </a>
                </div>
            </div>
        }
    }
</div>

<script>
    function confirmDelete(deleteUrl) {
        var result = confirm("Are you sure you want to delete?");
        if (result) {
            window.location.href = deleteUrl;
        }
    }
</script>