@model List<CollectionHub.Models.ViewModels.CollectionViewModel>

@{
    ViewData["Title"] = "My collections";
}

<div class="row">
    <div class="col-md-6">
        <h2>@Localizer["myCollections"]</h2>
    </div>
    <div class="col-md-6 text-md-end">
        <a class="btn btn-primary rounded-pill" href="@Url.Action("CreateCollection", "Collection")">
            @Localizer["createCollections"]
        </a>
    </div>  
    @foreach (var collection in Model)
    {
        <div class="col-md-6 mb-4 mt-4 col-12">
            <div class="card flex-row border-0">
                <img src="@collection.ImageLink" class="card-img-left uploaded-image" alt="Collection Image">
                <div class="card-body">
                    <h5 class="card-title h4-sm">@collection.Name</h5>
                    <p class="card-text">
                        @{
                            var truncatedDescription = @collection.Description.Length > 250 ? @collection.Description.Substring(0, 200) + "..." : @collection.Description;
                        }
                        @truncatedDescription
                    </p>
                    <a href="@Url.Action("GetCollection", "Collection", new { id = collection.Id })" class="stretched-link"></a>
                </div>
            </div>
        </div>
    }
</div>